body {
    background-color: #000;
    background-image: url("../img/cabinet-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 60%;
    margin: 0;
    overflow: hidden;
    color: #FFF;
}

.page-wrapper {
	height: 100%;
	max-width: 960px;
	margin: 0 auto;
}

#canvas-container {
	height: 100%;
	text-align: center;

    position: relative;
}

.canvas-style {
    border: 3px solid #33FF00;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, .5);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#back-arrow a {
    position: fixed;
    top: 0;
    left: 0;
    transform: rotate(180deg);
    color: #33FF00;
    padding: 10px;
    text-decoration: none;
    font-size: 2em;
}
