body {
    background-color: #000;
    margin: 0;
    overflow: hidden;
    height: 100vh;
    color: #FFF;
}

.page-wrapper {
	height: 100%;
	max-width: 960px;
	margin: 0 auto;
}

.title-container {
	height: 10%;
	vertical-align: middle;
}

#game-title {
    margin: 0;
    color: #33FF00;
    height: 100%;
    display: flex;
  	justify-content: center;
  	align-items: center;
}

#game-container {
	height: 90%;
}

#game-info {
	height: 10%;
	padding: 0 20px;
	box-sizing: border-box;
    text-align: center;
}

#canvas-container {
	height: 90%;
	text-align: center;
}

#canvas {
    border: 3px solid #33FF00;
    box-sizing: border-box;
}
